@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: 'Quicksand';
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  font-family: 'Monoton';
  background-color: #f4a226;
  text-align: center;
  padding: 2.4rem 0;
  font-size: 8rem;
  letter-spacing: -5px;
  font-weight: 400;
  word-spacing: 30px;
  text-transform: uppercase;
}

.add-form {
  background-color: #e5771f;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

button,
select,
input {
}

.add-form button {
  background-color: #ffebb3;
  color: #5a3e2b;
}

.list {
  background-color: #4c3524;
  color: #ffebb3;
  padding: 4rem 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
  align-items: center;
}

.action button,
.list button {
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
}

.list ul {
  list-style: none;
  width: 80%;
  margin: 0 0.8rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

inpit[type='checkbox'] {
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}

.stats {
}
