@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #5a3e2b;
  font-family: 'Quicksand';
  font-weight: 500;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

h1 {
  font-family: 'Monoton';
  background-color: #f4a226;
  text-align: center;
  padding: 2.4rem 0;
  font-size: 8rem;
  letter-spacing: -5px;
  font-weight: 400;
  word-spacing: 30px;
  text-transform: uppercase;
}

.add-form {
  background-color: #e5771f;
  padding: 2.8rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

h3 {
  margin-right: 1.6rem;
  font-size: 2.4rem;
}

button,
select,
input {
}

.add-form button {
  background-color: #ffebb3;
  color: #5a3e2b;
}

.list {
  background-color: #4c3524;
}

.action button,
.list button {
}

.list ul {
}

.list li {
}

inpit[type='checkbox'] {
}

.list li button {
}

.stats {
}
